@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    height: 100%;
}