@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    height: 100%;
}

#emdr-squares{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    line-height: 100%;
}

.emdr-square{
    display: inline-block;
    margin: auto;
    /*border: 1px solid white;*/
}

.emdr-square.circle{
    border-radius: 50%;
}